*{
  margin: 0;
  padding: 0;
}
section{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 200px;
  box-sizing: border-box;
  background: linear-gradient(180deg, #9bc5d3, #3c6b99), url(back.png);
  background-blend-mode: screen;
}
section .content{
  max-width: 700px;
}
section .content h2{
  font-size: 3em;
  font-family: 'Kanit', sans-serif;
}
section .content p{
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
}
section .cell{
  position: relative;
  max-width: 350px;
  z-index: 1000;
}
section .app{
  position: relative;
  max-width: 400px;
}
.menu{
  float: right;
  line-height: 60px;
  margin: 0 1.5em;
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
}
.menu ul{
  list-style: none;
}
.menu ul li{
  display: inline-block;
}
.menu ul li a{
  text-decoration: none;
  color: #000;
  font-weight: lighter;
  padding: 0 20px;
}
.nav{
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80px;
}
.logo{
  letter-spacing: 1px;
  float: left;
  color: #F8F8FF;
  font-size: 22px;
  line-height: 80px;
  padding: 0 6em;
}
